<div class="login-container">
  <div style="display: flex; flex-direction: column;">
    <mat-card>
      <button mat-raised-button color="primary" (click)="login()">Login using EPA GeoPlatform</button>
      <!--<p style="text-align: center"><b>Or</b></p>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Username" [(ngModel)]="username" (keyup.enter)="loginWithCredentials()">-->
      <!--</mat-form-field>-->
      <!--<br/>-->
      <!--<mat-form-field>-->
        <!--<input matInput type="password" placeholder="Password" [(ngModel)]="password"-->
               <!--(keyup.enter)="loginWithCredentials()">-->
      <!--</mat-form-field>-->
      <!--<br/>-->
      <!--<button mat-raised-button (click)="loginWithCredentials()" color="primary">Login</button>-->
      <!--<div style="color: red; font-size: 15px; max-width: 200px;">{{ login_error }}</div>-->


    </mat-card>
  </div>
</div>
