<h1 mat-dialog-title>Field Team Coordinator Request Form</h1>
<div id="request-dialog"> Use the form below to request access to approve user account requests
  and assign users to GeoPlatform groups for a specific emergency response.</div> <br>
<div mat-dialog-content>
  <form novalidate [formGroup]="requestFieldCoordForm">
    <!--first name-->
    <mat-form-field>
      <input matInput [(ngModel)]="data.first_name" type="text" formControlName="first_name" placeholder="First Name">
    </mat-form-field>
    <!--last name-->
    <mat-form-field>
      <input matInput [(ngModel)]="data.last_name" type="text" formControlName="last_name" placeholder="Last Name">
    </mat-form-field>
    <!-- phone number -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.phone_number" placeholder="Phone Number" formControlName="phone_number"
             maxlength="10">
      <mat-error *ngIf="requestFieldCoordForm.controls['phone_number'].errors">Not a valid phone number</mat-error>
    </mat-form-field>
    <!--email-->
    <mat-form-field>
      <input matInput [(ngModel)]="data.email" type="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="requestFieldCoordForm.controls.email.invalid">Not a valid email</mat-error>
    </mat-form-field>
    <!--region-->
    <mat-form-field>
      <mat-select matNativeControl [(ngModel)]="data.region" placeholder="Region" formControlName="region">
        <mat-option value=1>Region 1</mat-option>
        <mat-option value=2>Region 2</mat-option>
        <mat-option value=3>Region 3</mat-option>
        <mat-option value=4>Region 4</mat-option>
        <mat-option value=5>Region 5</mat-option>
        <mat-option value=6>Region 6</mat-option>
        <mat-option value=7>Region 7</mat-option>
        <mat-option value=8>Region 8</mat-option>
        <mat-option value=9>Region 9</mat-option>
        <mat-option value=10>Region 10</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="agol_user" placeholder="GeoPlatform User Account">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="emergency_response"
             placeholder="Which response you are working on?">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="dismiss()">Cancel</button>
  <button mat-raised-button color="primary"
          [disabled]="!requestFieldCoordForm.valid"
          (click)="submit()">
    Submit
  </button>
</div>
