django>=4.2,<=4.2.99
djangorestframework>=3.15,<=3.15.99
django-filter>=22.1,<=22.9
requests>=2.28.2,<=2.28.99
wfastcgi>=3.0.0,<=3.0.99
tqdm>=4.64.1,<=4.64.99
drf-recaptcha>=2.2.2,<2.2.99
git+https://github.com/Innovate-Inc/django-slack-logging.git#egg=django-slack-logging
social-auth-app-django>=5.0.0,<=5.0.99
natsort>=8.2.0,<=8.2.99
django-debug-toolbar>=4.4.6,<4.4.99
django-cors-headers>=3.13.0,<=3.13.99
psycopg[binary]
python-dotenv
django-admin-list-filter-dropdown
django-admin-rangefilter
django-autocomplete-light
django-ckeditor

