django>=4.1,<=4.1.99
djangorestframework>=3.14,<=3.14.99
pyodbc>=4.0.34,<=4.0.35
mssql-django>=1.2
django-filter>=22.1,<=22.9
requests>=2.28.2,<=2.28.99
wfastcgi>=3.0.0,<=3.0.99
tqdm>=4.64.1<=4.64.99
drf-recaptcha>=2.2.2,<2.2.99
git+https://github.com/Innovate-Inc/django-slack-logging.git#egg=django-slack-logging
social-auth-app-django>=5.0.0,<=5.0.99
django-oauth-toolkit>=2.2.0,<=2.2.99
# drf-social-oauth2
natsort>=8.2.0,<=8.2.99
django-debug-toolbar>=3.8.1,<=3.8.99
django-cors-headers>=3.13.0,<=3.13.99
psycopg2-binary>2.8.4,<2.8.99
python-dotenv