<div>
  <section id="homepage-info">
    <div>
      <p>
        The GeoPlatform Account Request Tool provisions EPA GeoPlatform user accounts during emergency response events.
        Allows authorized users (Field Team Coordinators) to rapdily set up users for field data collection
        events and provides access to specific groups.<br>
      </p>
      <p>
        Steps:<br>
        1. Become a Field Team Coordinator<br>
        2. Configure a new response<br>
        3. Request new GPO accounts
      </p>
    </div>
  </section>
  <section id="homepage-options">
    <div>
      <mat-card>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
          <ul class="flex-row-container">
            <li class="flex-item" (click)="navigateToFieldCoordinators()">
              <mat-card>
                <mat-card-subtitle></mat-card-subtitle>
                <mat-card-content>
                  <mat-icon>people</mat-icon>
                </mat-card-content>
              </mat-card>
              <h2>Field Team Coordinates</h2>
            </li>
            <li class="flex-item">
              <mat-card>
                <mat-card-subtitle></mat-card-subtitle>
                <mat-card-content>
                  <mat-icon>settings_applications</mat-icon>
                </mat-card-content>
              </mat-card>
              <h2>Configure New Response</h2>
            </li>
            <li class="flex-item" (click)="navigateToRequestAccount()">
              <mat-card>
                <mat-card-subtitle></mat-card-subtitle>
                <mat-card-content>
                  <mat-icon>control_point</mat-icon>
                </mat-card-content>
              </mat-card>
              <h2>Request GPO Account</h2>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>

