<mat-card style="flex-basis: 500px; height: 100%">
  <mat-card-title>Response / Project Request Form</mat-card-title>
  <mat-card-subtitle>Use the form below to request a new emergency response or project be added to the tool.
  </mat-card-subtitle>
  <form novalidate [formGroup]="fieldTeamCoordErForm">
    <!--Emergency Response Name-->
    <mat-form-field>
      <input matInput required type="text" formControlName="emergency_response_name" placeholder="Response or Project Name">
    </mat-form-field>
    <!--Field team coordinators-->
    <mat-form-field>
      <mat-label>Team Coordinators</mat-label>
      <mat-select required formControlName="field_team_coordinators" multiple>
        <mat-option *ngFor="let field_coordinator of field_coordinators | async"
                    [value]="field_coordinator.first_name + ' ' + field_coordinator.last_name">
            <span>
              {{field_coordinator.first_name + ' ' + field_coordinator.last_name}}
            </span>
        </mat-option>
      </mat-select>
      <mat-hint>If needed, return to the Team Coordinators page to request additional Coordinators.</mat-hint>
    </mat-form-field>
    <!-- GeoPlatform groups -->
    <app-tag-input label="GeoPlatform Groups" [formControl]="fieldTeamCoordErForm.controls.geoplatform_groups"
                   [tags]="this.tags" hint="Select all applicable groups.">
    </app-tag-input>
    <!--Field Coordinator / Requester's name-->
    <mat-form-field>
      <input matInput required type="text" formControlName="requester" placeholder="Coordinator / Requester Name">
    </mat-form-field>
    <!--Field Coordinator / Requester's phone-->
    <mat-form-field>
      <mat-hint>Enter a 10-digit phone number without dashes or spaces.</mat-hint>
      <input matInput required formControlName="requester_phone_number" placeholder="Coordinator / Requester Phone" maxlength="10">
      <mat-error *ngIf="fieldTeamCoordErForm.controls['requester_phone_number'].errors">Not a valid phone number</mat-error>
    </mat-form-field>
  </form>
  <br>
  <button mat-raised-button color="primary" [disabled]="!fieldTeamCoordErForm.valid" (click)="submit()" style="float: right">
    <span *ngIf="!submitting.value">Submit</span>
    <mat-spinner *ngIf="submitting.value" style="margin: 5px;" color="warn" diameter="30"></mat-spinner>
  </button>
</mat-card>
