<mat-card style="flex-basis: 500px; height: 100%">
  <mat-card-title>Response / Project Request Form</mat-card-title>
  <mat-card-subtitle>Use the form below to request a new emergency response or project be added to the tool.
  </mat-card-subtitle>
  <mat-spinner *ngIf="isLoading" style="left: 40%"></mat-spinner>
  <form *ngIf="!isLoading" novalidate [formGroup]="fieldTeamCoordErForm">
    <!--Emergency Response Name-->
    <mat-form-field>
      <input matInput required type="text" formControlName="emergency_response_name" placeholder="Response or Project Name">
    </mat-form-field>
    <!--Field team coordinators-->
    <mat-form-field>
      <mat-label>Team Coordinators</mat-label>
      <mat-select required formControlName="field_team_coordinators" multiple>
        <mat-option *ngFor="let field_coordinator of field_coordinators"
                    [value]="field_coordinator.username">
            <span *ngIf="field_coordinator.display">
              {{field_coordinator.display + ' (' + field_coordinator.username + ')'}}
            </span>
            <span *ngIf="!field_coordinator.display">{{field_coordinator.username}}</span>
        </mat-option>
      </mat-select>
      <mat-hint>If needed, return to the Team Coordinators page to request additional Coordinators.</mat-hint>
    </mat-form-field>
    <!-- GeoPlatform groups -->
    <mat-form-field>
      <mat-label>GeoPlatform Groups</mat-label>
      <mat-select required formControlName="geoplatform_groups" multiple>
        <mat-option *ngIf="agol_groups.length == 0" [value]="">{{'None'}}</mat-option>
        <mat-option *ngFor="let agol_group of agol_groups"
                    [value]="agol_group.title">
          {{agol_group.title}}
        </mat-option>
      </mat-select>
      <mat-hint>Select all applicable groups.</mat-hint>
    </mat-form-field>
    <!--Field Coordinator / Requester's name-->
    <mat-form-field>
      <input matInput required type="text" formControlName="requester" placeholder="Coordinator / Requester Name">
    </mat-form-field>
    <!--Field Coordinator / Requester's phone-->
    <mat-form-field>
      <input matInput required formControlName="requester_phone_number" placeholder="Coordinator / Requester Phone">
      <mat-error *ngIf="fieldTeamCoordErForm.controls['requester_phone_number'].errors">Not a valid phone number</mat-error>
    </mat-form-field>
  </form>
  <br>
  <button mat-raised-button color="primary"
          [disabled]="!fieldTeamCoordErForm.valid || (submitting | async)"
          (click)="submit()"
          style="float: right">
    Submit
  </button>
</mat-card>
