<h1 mat-dialog-title>Team Coordinator Request Form</h1>
<div id="request-dialog"> Use the form below to request access to approve user account requests
  and assign users to GeoPlatform groups for a specific emergency response or project.</div> <br>
<div mat-dialog-content>
  <form novalidate [formGroup]="requestFieldCoordForm">
    <!--first name-->
    <mat-form-field>
      <input matInput required [(ngModel)]="data.first_name" type="text" formControlName="first_name" placeholder="First Name">
    </mat-form-field>
    <!--last name-->
    <mat-form-field>
      <input matInput required [(ngModel)]="data.last_name" type="text" formControlName="last_name" placeholder="Last Name">
    </mat-form-field>
    <!-- phone number -->
    <mat-form-field>
      <input matInput required [(ngModel)]="data.phone_number" placeholder="Phone Number" formControlName="phone_number"
             maxlength="10">
      <mat-error *ngIf="requestFieldCoordForm.controls['phone_number'].errors">Not a valid phone number</mat-error>
    </mat-form-field>
    <!--email-->
    <mat-form-field>
      <input matInput required [(ngModel)]="data.email" type="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="requestFieldCoordForm.controls.email.invalid">Not a valid email</mat-error>
    </mat-form-field>
    <!--authoritative group-->
    <mat-form-field>
      <mat-select required matNativeControl [(ngModel)]="data.region" formControlName="authoritative_group"
                  placeholder="Primary Auth Group">
        <mat-option value='R01'>EPA Region 1</mat-option>
        <mat-option value='R02'>EPA Region 2</mat-option>
        <mat-option value='R03'>EPA Region 3</mat-option>
        <mat-option value='R04'>EPA Region 4</mat-option>
        <mat-option value='R05'>EPA Region 5</mat-option>
        <mat-option value='R06'>EPA Region 6</mat-option>
        <mat-option value='R07'>EPA Region 7</mat-option>
        <mat-option value='R08'>EPA Region 8</mat-option>
        <mat-option value='R09'>EPA Region 9</mat-option>
        <mat-option value='R10'>EPA Region 10</mat-option>
        <mat-option value='OARM'>EPA Office of Administration and Resources Management (OARM)</mat-option>
        <mat-option value='OAR'>EPA Office of Air and Radiation (OAR)</mat-option>
        <mat-option value='OSCPP'>EPA Office of Chemical Safety and Pollution Prevention (OCSPP)</mat-option>
        <mat-option value='OECA'>EPA Office of Enforcement and Compliance Assurance (OECA)</mat-option>
        <mat-option value='OEI'>EPA Office of Environmental Information (OEI)</mat-option>
        <mat-option value='OGC'>EPA Office of General Counsel (OGC)</mat-option>
        <mat-option value='OIG'>EPA Office of Inspector General (OIG)</mat-option>
        <mat-option value='OITA'>EPA Office of International and Tribal Affairs (OITA)</mat-option>
        <mat-option value='OLEM'>EPA Office of Land and Emergency Management (OLEM)</mat-option>
        <mat-option value='ORD'>EPA Office of Research and Development (ORD)</mat-option>
        <mat-option value='OW'>EPA Office of Water (OW)</mat-option>
        <mat-option value='OA'>EPA Office of the Administrator (OA)</mat-option>
        <mat-option value='OCFO'>EPA Office of the Chief Financial Officer (OCFO)</mat-option>
        <mat-option value='ER'>OLEM - ER Program Support</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="text" formControlName="agol_user" placeholder="GeoPlatform User Account">
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="text" formControlName="emergency_response"
             placeholder="Which response or project are you working on?">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="dismiss()">Cancel</button>
  <button mat-raised-button color="primary"
          [disabled]="!requestFieldCoordForm.valid"
          (click)="submit()">
    Submit
  </button>
</div>
