Your EPA {{ PORTAL }} account, {{ username }}, has been enabled as part of the {{ response }} response / project.
<br/><br/>
Please click here to access <a href="{{ portal_url }}/home/signin.html?useLandingPage=true">EPA {{ PORTAL }}</a>.
<br/><br/>
You may need to use Login.gov credentials if you are an external user or accessing this outside of the EPA intranet/VDI environment.
For instructions on linking your existing accounts with Login.gov, please visit:
<a href="https://wamssoprd.epa.gov/customloginpage/pages/help/faq.jsp#waa-link">Login.gov FAQ</a>

{% include "signature_line.html" %}
