A few important points:<br/>

<ul>
<li>The EPA GeoPlatform is a place for <em>creating and sharing maps and map applications</em>. Depending on your access level, you may only be able to view content items, or you may be able to collaborate by creating and editing items.</li>

<li>Multi-Factor Authentication (MFA) is now required to be enabled on all accounts per <a href="https://www.epa.gov/system/files/documents/2021-09/information_security_identification_and_authentication_procedure.pdf">security policy</a>.
Guidance for the simple process of enabling two-factor authentication can be found in <a href="https://epa.maps.arcgis.com/sharing/rest/content/items/079ede9b32464c73815d386703d3f88b/data">this document</a>.
You will have a short grace period following account creation to enable MFA, after which your account will be automatically disabled.
</li>

<li>If you do something with the GeoPlatform that <em>you would like to share</em> with our community, please contact us and let us know! The best contact is this email address: GeoServices@epa.gov.</li>

<li>Discover additional data resources by visiting the <a href="https://edg.epa.gov/">Environmental Dataset Gateway</a> or contacting edg@epa.gov</li>

<li>We hope that you enjoy using this platform to build and enhance your mapping capabilities, but we also have one major rule to consider as you use the GeoPlatform: <br/>
<span style='color:red'>
<strong>No PERSONALLY IDENTIFIABLE INFORMATION (PII) or National Security Information (NSI) can be stored on the GeoPlatform.</strong>
</span><br/>
If you need a place for storing names, social security numbers, phone numbers, home addresses and the like – PLEASE do not store them here.  PII or NSI found in the GeoPlatform, whether added inadvertently or intentionally, will be removed.
</li>

</ul>

Thank you for your attention to this important information and welcome again to the GeoPlatform community.<br/><br/>

The GeoPlatform Administration<br/>

<hr>
