{% block html %}
    <div>
        A Coordinator Request has been submitted to the Account Request Tool
        (<a href="{{ settings.HOST_ADDRESS }}">{{ settings.HOST_ADDRESS }}</a>). The following
        information was submitted:
        <ul>
            <li>First Name: {{first_name}}</li>
            <li>Last Name: {{last_name}}</li>
            <li>Phone number: {{phone_number}}</li>
            <li>Email: {{email}}</li>
            <li>GeoPlatform User: {{agol_user}}</li>
            {% if emergency_response %}<li>Response / Project: {{emergency_response}}</li>{% endif %}
        </ul>
     Please log in to the <a href="{{ settings.HOST_ADDRESS }}/api/admin/">Account Request Tool Administration</a> to configure a new project or response and notify the
        coordinator when configuration is complete.
    </div>
{% endblock %}
