{% block html %}
    <div>
        An Emergency Response Request has been submitted for:
        <ul>
            <li>Emergency Response Name: {{emergency_response_name}}</li>
            Field Team Coordinators:
            <ul>
                {% for value in field_team_coordinators %}
                    <li>{{value}}</li>
                {% endfor %}
            </ul>
            GeoPlatform Groups:
            <ul>
                {% for value in geoplatform_groups %}
                    <li>{{value}}</li>
                {% endfor %}
            </ul>
            <li>Field Coordinator / Requester's name: {{requester}}</li>
            <li>Field Coordinator / Requester's phone: {{requester_phone_number}}</li>
        </ul>
    </div>
{% endblock %}
