{% block html %}
    <div>
        A Field Coordinator Request has been submitted for:
        <ul>
            <li>First Name: {{first_name}}</li>
            <li>Last Name: {{last_name}}</li>
            <li>Phone number: {{phone_number}}</li>
            <li>Email: {{email}}</li>
            <li>Authoritative Group: {{authoritative_group}}</li>
            <li>GeoPlatform User: {{agol_user}}</li>
            {% if emergency_response %}<li>Emergency Response: {{emergency_response}}</li>{% endif %}
        </ul>
    </div>
{% endblock %}