{% block html %}
    <div>
        An Emergency Response Request or Project has been submitted to the Account Request Tool
        (<a href="https://r9data.response.epa.gov/request">r9data.response.epa.gov/request</a>). The following
        information was submitted:
        <ul>
            <li>Response / Project Name: {{emergency_response_name}}</li>
            <li> Team Coordinators:
            <ul>
                {% for value in field_team_coordinators %}
                    <li>{{value}}</li>
                {% endfor %}
            </ul></li>
            <li>{{ response_project.portal }} Groups:
            <ul>
                {% for value in geoplatform_groups %}
                    <li>{{value.title}}</li>
                {% endfor %}
            </ul></li>
            <li>Authoritative Group: {{authoritative_group}}</li>
            <li>Coordinator / Requester Name: {{requester}}</li>
            <li>Coordinator / Requester Phone: {{requester_phone_number}}</li>
        </ul>
        Please log in to the <a href="https://r9data.response.epa.gov/request/api/admin/">{{ response_project.portal }}
        Account Request Tool Administration</a> to configure a new project or response and notify the coordinator when
        configuration is complete.
    </div>
{% endblock %}
