<mat-sidenav-container class="container">
  <mat-sidenav #filterNav mode="side" opened="false" position="end" class="filter-sidenav">
    <mat-list>
      <mat-list-item>
        <filter-input [(filtered)]="accounts.filter.approved_and_created"
                      (filterCleared)="accounts.clearFilter('approved_and_created')"
                      label="Approved & Created" type="boolean"></filter-input>
      </mat-list-item>
      <mat-list-item class="filter-btn">
        <button type="button" (click)="accounts.runSearch()" mat-raised-button
                color="primary">
          Apply
        </button>
        <button type="button" (click)="accounts.clearAllFilters()" mat-raised-button color="accent">
          Clear All
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="sidenav-content">
    <div class="list-header" style="display: flex; flex-direction: row; justify-content: space-between">
      <mat-form-field style="width:250px; padding-left: 25px; padding-top: 15px;">
        <input matInput type="text" placeholder="Search" [(ngModel)]="accounts.filter.search"
          (keyup.enter)="accounts.runSearch()" name="search"/>
        <button style="position:absolute; top:-5px; right:0px;" type="button" mat-icon-button
          (click)="accounts.clearSearch()"
          *ngIf="accounts.filter.search">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div style="display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-evenly;
                  padding-right: 25px;">
       <!-- <button mat-raised-button *ngIf="selectedAccounts.length > 0" color="primary">Edit</button> -->

        <button mat-raised-button *ngIf="selectedAccounts.length > 0" color="warn" (click)="confirmApproval()"
                style="margin-right:25px;">Approve</button>
        <button type="button" mat-raised-button (click)="filterNav.toggle()" color="primary">
          {{ filterNav.opened ? 'Hide Filter' : 'Show Filter' }}
        </button>
      </div>
    </div>
    <div class="list-container">
      <mat-table #table [dataSource]="accounts.datasource" class="table" matSort matSortActive="date_received"
                                                           matSortDirection="desc"
        (matSortChange)="accounts.sortTable($event)">
        <ng-container cdkColumnDef="first_name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            First Name
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">{{ row.first_name }}</mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="last_name">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Last Name
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">{{ row.last_name }}</mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="email">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Email
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-icon color="warn" *ngIf="row.possible_existing_account" tooltipClass="'mat-tooltip'"
                      matTooltip="Found accounts with same email. To add existing account to groups, edit Username column to an existing username.
                      Existing username(s): {{ row.possible_existing_account }}">
              warning
            </mat-icon>
            {{ row.email }}</mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="organization">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Organization
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">{{ row.organization }}</mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="username">
          <mat-header-cell *cdkHeaderCellDef class="header-cell">
            Username
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-icon color="warn" *ngIf="!row.username_valid"
                      matTooltip="Username already exists. Approval will modify existing groups.">
              warning
            </mat-icon>
            <input matInput [(ngModel)]="row.username" (change)="row.changed = true"/>
          </mat-cell>
        </ng-container>

        <<ng-container cdkColumnDef="role">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Role
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-select [(ngModel)]="row.role" (selectionChange)="row.changed = true">
              <mat-option *ngFor="let role of roles | async" [value]="role.value">
                {{ role.display }}
              </mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="groups">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Groups
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-select [(ngModel)]="row.groups" multiple (selectionChange)="row.changed = true"
                        placeholder="Click to select">
              <mat-option *ngFor="let group of groups | async" [value]="group.id">
                {{ group.title }}
              </mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="user_type">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            User Type
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-select [(ngModel)]="row.user_type" (selectionChange)="row.changed = true">
              <mat-option *ngFor="let user_type of user_types | async" [value]="user_type.value">
                {{ user_type.display }}
              </mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="selected">
          <mat-header-cell *cdkHeaderCellDef class="header-cell" matTooltip="Select all records for approval">
            <mat-checkbox (change)="updateSelectedAccount($event, true)"></mat-checkbox>
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell" matTooltip="Select record(s) to approve">
            <mat-checkbox (change)="updateSelectedAccount($event)" [value]="row.id"
              [checked]="selectedAccounts.indexOf(row.id) > -1"></mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="save">
          <mat-header-cell *cdkHeaderCellDef class="header-cell">
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell" >
            <button mat-icon-button matTooltip="Click to save changes" *ngIf="row.changed" (click)="updateRecord(row)"><mat-icon style="color: gray">save</mat-icon></button>
          </mat-cell>
        </ng-container>
        <ng-container cdkColumnDef="sponsor">
          <mat-header-cell *cdkHeaderCellDef class="header-cell">
            Sponsor
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-select [(ngModel)]="row.sponsor" (selectionChange)="row.changed = true">
              <mat-option *ngFor="let sponsor of sponsors | async" [value]="sponsor.value">
                {{ sponsor.display }}
              </mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="approved">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Approved
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">
            <mat-icon *ngIf="row.approved" style="color: green;">check</mat-icon>
            <mat-icon *ngIf="!row.approved" style="color: red;">close</mat-icon>
          </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="created">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header class="header-cell">
            Created
          </mat-header-cell>
          <mat-cell *cdkCellDef="let row" class="cell">

            <mat-icon *ngIf="row.created" style="color: green;">check</mat-icon>
            <mat-icon *ngIf="!row.created" style="color: red;">close</mat-icon>
          </mat-cell>
        </ng-container>


        <mat-header-row *cdkHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;" class="row" style="cursor: pointer;">

        </mat-row>
      </mat-table>
      <mat-paginator [length]="accounts.count" [pageSize]="25"
        [pageSizeOptions]="[10, 25, 50, 100]"
        (page)="accounts.getPage($event)"
        [pageIndex]="accounts.filter.page-1"></mat-paginator>

    </div>
  </div>
</mat-sidenav-container>
