<header>
  <mat-toolbar class="header" color="primary" style="justify-content: space-between">
    <div style="display: flex; align-items: center; cursor: pointer;" routerLink="/">
            <img src="../assets/EPA_logo.png" style="width: 60px;"/>
            GeoPlatform Account Request Tool
        </div>
    <div style="padding-right: 25px;">
      <button mat-button routerLink="/accounts/list/" *ngIf="!config">Team Coordinator Login</button>
      <button mat-button [matMenuTriggerFor]="menu" *ngIf="config">{{ config.name }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/accounts/list/">Approval List</button>
        <button mat-menu-item *ngIf="config && config.is_staff"><a style="text-decoration: none; color: inherit;" [href]="admin_url">Administration</a></button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      <a href="assets\GPOAcctRequestUserGuide.pdf" target="_blank"
         matTooltip="View Help Documentation" matTooltipClass="mat-tooltip-blue" matTooltipPosition="below">
        <mat-icon style="color:white; vertical-align:middle">help</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
